<!--LLeva el nombre del componente contador.component.ts selector, hay que ponerlo en app.module.ts-->
<!--<app-contador></app-contador>        se borró este componente-->



<!--
<app-contador2></app-contador2>
<app-botones></app-botones>
-->
<div class="container">

    <h1>Servicios</h1>

    <app-add-messages></app-add-messages>
    <app-list-messages></app-list-messages>

    <!--Para generar un servicio poner en consola: ng generate service nombreServicio, en este caso, messages-->


    <!--<app-formulario></app-formulario>-->
    <!--<app-bluces></app-bluces>-->
    <!--<app-switch></app-switch>-->
    <!-- <app-formulario2></app-formulario2> -->
    <!-- <app-formulario3></app-formulario3> -->
    
    <!-- <input type="text" class="form-control mb-4" [(ngModel)]="title">
    
    <app-children [(title)]="title"></app-children> -->

    <!-- <div class="container">
        <h1>Servicios</h1>

    </div> -->


</div>