<div class="card">
    <div class="card-body">

    <!--Recordar crear un módulo en app.module.ts como formsModule-->
        <form (ngSubmit)="procesar()" #formContact="ngForm">
            <div>
                <label class="form-label">
                    Nombre:
                </label>

                <input type="text" name="nombre" class="form-control" placeholder="Ingrese tu nombre"[(ngModel)]="persona.nombre" required #name="ngModel">
            
                <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
                    El nombre es obligatorio
                </div>
                
            
            </div>

            <div>
                <label class="form-label">
                    Edad:
                </label>

                <input type="number" name="edad" class="form-control" placeholder="Ingrese tu edad"[(ngModel)]="persona.edad" required #edad="ngModel">

                <div class="alert alert-danger mt-2" [hidden]="edad.valid || name.pristine">
                    La edad es obligatoria
                </div>

            </div>

            <button class="btn btn-primary mt-2" [disabled]="formContact.invalid" >
                Enviar
            </button>

        </form>

    </div>

</div>


